.lookaftermybills {
  padding-bottom: 48px;
}

.energyhelpline {
  padding-bottom: 80px;
}

.britishgas {
  padding-bottom: 55px;
}

.green {
  padding-top: 50px;
}

.pfp {
  padding-top: 50px;
}

.moneyplus {
  padding-top: 90px;
}

.symbio {
  padding-top: 30px;
}

.enstroga {
  padding-top: 80px;
}

.gne {
  padding-top: 100px;
}

.simpliciy {
  padding-top: 150px;
}
