.lookaftermybills {
  padding-bottom: 48px;
}

.energyhelpline {
  padding-bottom: 80px;
}

.britishgas {
  padding-bottom: 55px;
}

.green {
  padding-top: 50px;
}

.pfp {
  padding-top: 50px;
}

.moneyplus {
  padding-top: 90px;
}

.symbio {
  padding-top: 30px;
}

.enstroga {
  padding-top: 80px;
}

@media (min-width: 780px) {
  .simpliciy {
    padding-top: 150px;
  }

  .gne {
    padding-top: 100px;
  }
}
